:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #a1ccff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#root {
  display: flex;
  position: relative;
}
button,
a {
  all: unset;
  cursor: pointer;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cursor-pointer,
.cursor-pointer * {
  cursor: pointer;
}

/* https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */
[aria-hidden="true"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pos-full {
  width: 100%;
  height: 100%;
}

.pos-up-left {
  position: absolute;
  top: 0;
  left: 0;
}
